src/main/model/movements/movement.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="table" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="movement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ns"/>
                    <xs:element type="xs:string" name="ew"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="rounds">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="round" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="boards">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="from" use="optional"/>
                                  <xs:attribute type="xs:byte" name="to" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="number" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="number" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>